/* About Us */
  .about {
    padding: 120px 0 0px 0;
    position: relative;
  }
  .aboutBox {
    background: #339a68;
    border-radius: 64px;
    text-align: center;
    padding: 30px 40px;
   
  }
  .about h2 {
      font-size: 60px;
      margin-bottom: 30px;
      font-weight: 700;
      letter-spacing: 4px;
  }
  .about p {
      color: #1a0c0c;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 5px 0;
  }
  .aboutSlider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .aboutSlider .item img {
    max-width: 400px;
    max-height: 450px;
    margin: 0 auto 15px auto;
  }

  .aboutTitle{
    font-size: 30px;
    letter-spacing: 4px;
}





