/************ Footer Css ************/
.container{
  width:100%;
}

.footer {
    margin: 40px auto 0 auto;
    padding: 30px 0px 10px 0;
    background-image: url('../../assets/img//footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer h1{
    font-size: 20px;
    letter-spacing: 1px;
    color: green;
  }
  
  .footer img {
    width: 50%;
  }
  .footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px 0 20px 40px;
  
  }

 .iconBox{
    display: flex;
    margin-bottom: 6px;
    flex-direction: row;
    align-items: center;
  }

  .footer a{
    text-decoration: none;
    color: white;
   
  }

  .footer p{
    font-size:15px;
    margin-top: 10px;
  }

  .icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #268a1a;
    margin: 35px auto 35px auto;
}

.footerText{
  padding: 16px 0 0 0;
  letter-spacing: 0.8px;
}



@media screen and (max-width: 768px) {
  .container {
      margin-right: 100px;
    }

  .footer h1 {
      font-size: 20px; 
      margin: 16px auto;
  }

  .footer img {
      width: 50%; 
  }

  .footer p {
      font-size: 12px; 
      
  }

  .line {
      margin: 10px auto; 
  }
}

@media screen and (max-width: 480px) {
  .container{
    width: 100%;
  }
  .footer h1 {
      font-size: 20px; 
  }

  .footer img {
      width: 40%; 
  }

  /* .footer a{
    margin-left:10px;
  } */

  .footer p {
      font-size: 12px;
    
  }

  .line {
      margin: 5px auto; 
  }

  .footerLinks{
    margin-left: 20px;
    font-size: 12px;
  }
}
