.firstBoxImage {
    padding: 30px; 
    margin-right: 15px;
    width: 100%
}


.firstBoxDescr{
    width:600px;
}

.secondBoxHeader{
    margin-left:100px;
    padding:10px;
    font-size:70px;
}


.secondBoxImg{
    /* width:500%;
    margin-left:0px; */
    margin-left:60px;
}

.secondBoxDescr{
    width:350px;
    text-align:center;
    font-size:18px;
    padding-left:40px;
}

.thirdBoxHeader{
    margin-left:650px;
    padding:10px;
    font-size:70px;
}

.thirdBoxRow{
    align-items:center;
    padding-right:10px;
    margin-bottom:-150px;
}

.thirdBoxImg{
    width: 30%;
}

.thirdBoxDescr{
    width:50%;
    font-size:20px;
}

.thirdBoxRow2{
    align-items:center;
    padding-left:250px;
}

.thirdBoxImg2{
    width:35%;
}

.thirdBoxDescr2{
    width:60%;
    font-size:20px;
}


@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){

    .container{
        box-sizing: border;
        max-width: 100%;
    }
    .firstBoxImage {
        padding: 20px 10px;
        margin-right: 5px;
        width: 100%
    }

    .firstBoxHeader{
        padding-left: 50px;
    }

    .firstBoxDescr{
        width:450px;
        font-size: 16px;
        padding-left: 50px;
    }

    .secondBoxHeader{
        margin-left:100px;
        padding:10px;
        font-size:40px;
    }


    .secondBoxImg{
        width:80%;
        margin-left:80px;
    }

    .secondBoxDescr{
        width:400px;
        text-align:center;
        font-size:18px;
        margin-left:10px;
    }

    .thirdBoxHeader{
        margin-left:60px;
        padding:10px;
        font-size:0px;
    }

    .thirdBoxRow{
        align-items:center;
        padding-right:100px;
        /* margin-bottom:-150px; */
    }

    .thirdBoxImg{
        width: 90%;
    }

    .thirdBoxDescr{
        width:100%;
        font-size:16px;
        margin-left:10px;
        text-align: center;
    }

    .thirdBoxRow2{
        width: 100%;
        align-items:center;
        padding-left:0px;
    }

    .thirdBoxHeader2{
        margin-left:60px;
        padding:10px;
        font-size:40px;
    }

    .thirdBoxImg2{
        width:80%;
       
    }

    .thirdBoxDescr2{
        width:80%;
        margin-top:170px;
        font-size: 16px;
        text-align: center;
       
    }


}