/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  /* color: white; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 45px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: white !important;
  color: rgb(6, 3, 1) !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 30%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width: 1200px) {
  main .container {
      max-width: 100%;
      padding: 0 100px;
  }
}

@media (max-width: 768px) {
  main .container {
      max-width: 100%;
      font-size: 20px; /* Adjust font size for tablets */
      padding: 0 20px; /* Add padding for tablets */
  }

  nav.navbar .navbar-nav .nav-link.navbar-link {
      font-size: 10px; /* Adjust font size for tablets */
  }


  .navbar-text button {
      font-size: 10px; /* Adjust button size for tablets */
      border: #c04343;
  }
}

@media (max-width: 480px) {
  html {
      scroll-behavior: smooth;
      scroll-padding-top: 65px;
  }

  main .container {
      max-width: 100%;
      font-size: 14px; /* Adjust font size for phones */
      padding: 0; /* Ensure no padding causes overflow */
      margin: 0; /* Ensure no margin causes overflow */
  }

  img {
    width: 100%;
    height: auto;
  }

  nav.navbar .navbar-nav .nav-link.navbar-link {
      font-size: 8px; /* Adjust font size for phones */
      padding: 0 5px; /* Adjust padding for phones */
  }

  .navbar-text button {
      font-size: 8px; /* Adjust button size for phones */
  }
}

/* Navbar CSS */
nav.navbar {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: black;
}

nav.navbar a.navbar-brand {
  width: 16%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  color: rgba(18, 159, 18, 0.952) !important;
  letter-spacing: 0.5px;
  padding: 0 10px;
  font-size: 12px;
  opacity: 0.5;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

.navbar-text button {
  font-weight: 700;
  color: rgba(20, 152, 20, 0.952);
  /* border: 1px solid #57d47bbe; */
  padding: 4px 6px;
  font-size: 12px;
  margin-right: 100px; /* Adjusted to prevent overflow */
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #c04343;
}

.navbar-text button:hover::before {
  width: 100%;
}

nav.navbar .navbar-toggler {
  position: fixed;
  font-size: 12px;
  top: 8px;
  right: 20px;
  z-index: 1000;
  border: none;
  padding: 2px 4px;
  width: auto;
  height: auto;
}

nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}




















/* nav.navbar .navbar-toggler-icon:after {
	top: 10px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(2px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
} 
 */










