.banner {
    margin:0px 5px;
    width: 100%;
    height: 100%;
    padding: 260px 0 100px 100px;
    background-image: url('../../assets/img/2.jpg');
    background-position: top center;
    background-size: cover;
    background-position: center;
  }
  
  
  .banner h1 {
    width:85%;
    padding-left:20px;
    font-size: 45px;
    letter-spacing: 0.5px;
    line-height: 1;
    display: block;
    color: rgba(24, 24, 26, 0.894);
    background-color: rgb(255, 255, 255);
    opacity:1;
    /* bottom: 500px; */
    font-weight: 700;
    /* padding-top: 300px; */
  }
  
  .banner p {
    bottom:25px;
    color: rgba(238, 240, 241, 0.894);
    font-weight: 800;
    /* background-color: white; */
    opacity: 1;
    font-size: 22px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 90%;
  }
  
  .banner button {
    color:rgba(20, 152, 20, 0.952);
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  